		<%= render 'custom_header' %>
    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit" style="background-image:url('images/mall.gif'); background-size:49%;background-repeat:no-repeat;background-position:right bottom;filter:alpha(opacity=100);">
        <font color="#0065d0"><h1>Sell Real Products in Games</h1></font>
				<p></p>
        <p>
				Why settle for virtual items when you can sell real goods
				</p>
        <p>
				InGidio enables real shopping in your games
				</p>
        <p>
			 	Just copy and paste some code and we will take of the rest for you
				</p>
				<p>
				Yes, it's that simple.
				</p>
	<br>

  <p>
    <%= form_for "subscriber", :url => subscribers_path, :method=>'post',:remote=>true,:id=>'sub_form' do |f| %>                                      
      <div id='response' style="display:none;width:40.5em">
      </div>
      <%= f.text_field :email, :style=>'font-size:2em;height:2em;width:15em' %> 
      <%= f.submit "Sign Up",:class=>"btn btn-primary btn-large",:style=>'height:2em;font-size:2em;' %>                                             
    <% end %>
  </p>

      </div>

    </div> <!-- /container -->
<%= render 'custom_footer' %>

