<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title><%= @title %> | Gamertisers</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<link href="/robot_css/style.css" rel="stylesheet" type="text/css" />
<script src="/robot_js/maxheight.js" type="text/javascript"></script>
<script src="/robot_js/jquery-1.4.2.min.js" type="text/javascript"></script>
<script src="/robot_js/cufon-yui.js" type="text/javascript"></script>
<script src="/robot_js/cufon-replace.js" type="text/javascript"></script>
<script src="/robot_js/Myriad_Pro_300.font.js" type="text/javascript"></script>
<script src="/robot_js/Myriad_Pro_400.font.js" type="text/javascript"></script>

<script src="http://code.jquery.com/jquery-latest.js"></script>


</head>

<body id="page2" onload="new ElementMaxHeight();">
<!-- header -->
	<div id="header">
		<div class="bg">
			<div class="container">
				<div class="row-1">
					<div class="wrapper">
						<div class="fleft"><a href="/"><img src="http://i1143.photobucket.com/albums/n639/indigio/gamertiser_logo-4.png" alt="" /></a></div>
						<ul class="top-links">
							<!--<li class="first"><a href="/" class="home"></a></li>
							<li><a href="contacts.html" class="mail"></a></li>
							<li class="last"><a href="sitemap.html" class="sitemap"></a></li>-->
						</ul>
					</div>
				</div>
<script>

    $("p").hide();
    $("a").click(function ( event ) {
      event.preventDefault();
      $(this).hide();
    });
</script>

				<div class="row-2">
<!-- .nav -->
					<ul class="nav">
						<li><a href="/" class="<%= @toolbar[:index] %>" id="home_nav">Home</a></li>
						<li><a href="/about/" class="<%= @toolbar[:about] %>" id="about_nav">About</a></li>
						<!--<li><a href="support.html">Support</a></li>
						<li><a href="/contacts/" class="<%= @toolbar[:contacts] %>" id="contacts_nav">contacts</a></li>-->
						<li><a href="mailto:demo@ingidio.com">demo</a></li>		
						<li><a href="/signup/" class="<%= @toolbar[:contacts] %>" id="contacts_nav"><font color="#FFA500">Sign Up!</font></a></li>
					</ul>
<!-- /.nav -->
				</div>
