				<%= render "header" %>
<div class="row-3">
					<h4>Hi There! How can we help you?</h4><br>
					<h4>Drop a line and say hi! We are all friendly people.</h4>
					<!--<form action="" id="search-form">
						<fieldset><input type="text" class="text" value="" /><input type="submit" class="submit" value="" /></fieldset>
					</form>-->
				</div>
			</div>
		</div>
	</div>
<!-- content -->
	<div id="content"><div class="inner_copy"><div class="inner_copy"></div></div>
		<div class="container">
			<div class="wrapper">
				<div class="mainContent maxheight">
					<div class="indent">
						<h2>Contact Us</h2>
						For all inquiries, please email <a href="mailto:ingidio.tech@gmail.com">ingidio.tech@gmail.com</a>
<br>
<br>
<br>
<br>
<br>
<!--						<%= form_tag("/send", :method => "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>
						<form id="contacts-form" action="" method="post">
							 <fieldset>
								 <div class="field">
									 <label>Your Name:</label>
									 <input type="text" value=""/>
								 </div>
								 <div class="field">
									 <label>Your E-mail:</label>
									 <input type="text" value=""/>
								 </div>
								 <div class="field">
									 <label>Your Website:</label>
									 <input type="text" value=""/>
								 </div>
								 <div class="field">
									 <label>Your Message:</label>
									 <textarea cols="1" rows="1"></textarea>
								 </div>
								 <div class="alignright"><a href="#" onclick="document.getElementById('contacts-form').submit()">Send Your Message</a></div>
							 </fieldset>
						</form>-->
					</div>
				</div>
			</div>
		</div>
	</div>
<%= render "footer" %>
