    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/">Ingidio</a>
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li class="<%= @toolbar[:overview] %>"><a href="/caster/signup/overview">Overview</a></li>
            <li class="<%= @toolbar[:perks] %>"><a href="/caster/signup/perks">Perks</a></li>
            <li class="<%= @toolbar[:partners] %>"><a href="/caster/signup/partners">Partners</a></li>
            <li class="<%= @toolbar[:faq] %>"><a href="/caster/signup/faq">FAQ</a></li>
            <li class="<%= @toolbar[:apply] %>"><a href="/caster/signup/apply">Apply</a></li>
          </ul>

          <form action="" class="pull-right">
            <input class="input-small" type="text" placeholder="Username">
            <input class="input-small" type="password" placeholder="Password">
            <button class="btn" type="submit">Sign in</button>
          </form>
        </div>
      </div>
    </div>

